@media (max-width: 639px) {
  .nav-text {
    font-size: 1.2rem;
    line-height: 1.167;
  }
}
@media (min-width: 640px) {
  .nav-text {
    font-size: 1.6rem;
    line-height: 1.1875;
  }
}

@media (max-width: 639px) {
  .intro-heading {
    font-size: 2.4rem;
  }
}
@media (min-width: 640px) {
  .intro-heading {
    font-size: 4rem;
  }
}

@media (max-width: 639px) {
  .intro-body {
    font-size: 1.4rem;
  }
}
@media (min-width: 640px) {
  .intro-body {
    font-size: 2rem;
  }
}

@media (max-width: 639px) {
  .feature-heading {
    font-size: 1.8rem;
    line-height: 1.333;
  }
}
@media (min-width: 640px) {
  .feature-heading {
    font-size: 2rem;
    line-height: 1.15;
  }
}

@media (max-width: 959px) {
  .prod-heading {
    font-size: 1.8rem;
    line-height: 1.333;
  }
}
@media (min-width: 960px) {
  .prod-heading {
    font-size: 4rem;
    line-height: 1.25;
  }
}

@media (max-width: 959px) {
  .prod-body {
    font-size: 1.4rem;
  }
}
@media (min-width: 960px) {
  .prod-body {
    font-size: 1.6rem;
  }
}

@media (max-width: 959px) {
  .prod-link {
    font-size: 1.2rem;
    line-height: 1.333;
  }
}
@media (min-width: 960px) {
  .prod-link {
    font-size: 1.6rem;
    line-height: 1.375;
  }
}

@media (max-width: 639px) {
  .test-body {
    line-height: 1.8;
    font-size: 1rem;
    letter-spacing: 0px;
  }
}
@media (min-width: 640px) {
  .test-body {
    line-height: 1.5;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
  }
}

@media (max-width: 639px) {
  .cta-heading {
    font-size: 1.8rem;
    line-height: 1.333;
  }
}
@media (min-width: 640px) {
  .cta-heading {
    font-size: 3.2rem;
    line-height: 1.5;
  }
}

@media (max-width: 639px) {
  .button--intro {
    padding: 1.6rem 0;
    font-size: 1.4rem;
    width: 24rem;
    line-height: 1.143;
    border-radius: $br-reg;
  }
}
@media (min-width: 640px) {
  .button--intro {
    padding: 1.85rem 0;
    font-size: 1.6rem;
    width: 28rem;
    line-height: 1.1875;
    border-radius: $br-lg;
  }
}

@media (max-width: 639px) {
  .header {
    padding: 2.4rem 2.4rem 0;
  }
}
@media (min-width: 640px) and (max-width: 959px) {
  .header {
    padding: 3.6rem 4rem 0;
  }
}
@media (min-width: 960px) {
  .header {
    padding: 7.3rem 8rem 0;
    max-width: 128rem;
    margin: 0 auto;
  }
}

@media (max-width: 639px) {
  .brand__logo__image {
    width: 8rem;
  }
}
@media (min-width: 640px) and (max-width: 959px) {
  .brand__logo__image {
    width: 12rem;
  }
}
@media (min-width: 960px) {
  .brand__logo__image {
    width: 17.6rem;
  }
}

@media (max-width: 639px) {
  .intro {
    padding-top: 4.8rem;
    background: url(../../images/bg-curvy-mobile.svg),
      linear-gradient($light-bg 61%, $main-bg 61%);
    background-position-y: 52%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .intro__content__container {
    padding: 0 3.3rem;
  }
  .intro-heading {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 640px) {
  .intro {
    padding-top: 7.5rem;
    background: url(../../images/bg-curvy-desktop.svg);
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .intro__content__container {
    padding: 0 3rem;
  }
  .intro-heading {
    margin-bottom: 3.2rem;
  }
  .intro-body {
    max-width: 58.9rem;
    margin: 0 auto;
  }
}
@media (min-width: 960px) {
  .intro {
    padding-bottom: 16.3rem;
  }
  .intro__content__container {
    max-width: 73.4rem;
    margin: 0 auto;
    padding: 0 2rem;
  }
}

@media (max-width: 639px) {
  .intro__image__container {
    margin-bottom: 3.3rem;
  }
}
@media (min-width: 640px) {
  .intro__image__container {
    margin-bottom: 3.6rem;
  }
}

@media (max-width: 639px) {
  .features {
    padding: 12rem 2.7rem 16rem;
  }
}
@media (min-width: 640px) and (max-width: 959px) {
  .features {
    padding: 12rem 2.7rem 16rem;
  }
}
@media (min-width: 960px) {
  .features {
    padding: 0rem 2.7rem 16rem;
  }
}

@media (max-width: 799px) {
  .feature-cards-container {
    max-width: 50rem;
    margin: 0 auto;
  }
  .feature-heading {
    margin-top: 2.4rem;
    margin-bottom: 0.8rem;
  }
  .feature__card:not(:last-child) {
    margin-bottom: 8rem;
  }
  .feature__card__image {
    max-width: 6.4rem;
    max-height: 6.4rem;
  }
}

@media (min-width: 800px) {
  .feature-cards-container {
    margin: 0 auto;
    max-width: 88rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .feature__card {
    width: 50%;
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feature_card--upper {
    margin-bottom: 7.8rem;
  }
  .feature-heading {
    margin-top: 1.6rem;
    margin-bottom: 0.9rem;
  }
  .feature__card__image__container {
    max-width: 8.4rem;
    min-height: 8.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .feature__card__image {
    width: 100%;
  }
}

@media (max-width: 639px) {
  .prod {
    padding-bottom: 16rem;
  }
  .prod__copy {
    padding: 0 2.8rem;
  }
}
@media (min-width: 640px) and (max-width: 1234px) {
  .prod {
    padding-bottom: 12rem;
  }
  .prod__copy {
    padding-left: 3rem;
  }
  .prod__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 3rem;
  }
}

@media (min-width: 1235px) {
  .prod {
    padding-bottom: 12rem;
  }
  .prod__copy {
    padding-left: 5.7rem;
    max-width: 56.3rem;
  }
  .prod__copy > :first-child {
    width: 70%;
  }
  .prod__container {
    max-width: 123.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 639px) {
  .prod__image__container {
    max-width: 30.4rem;
    margin-bottom: 4.8rem;
  }
  .prod__copy > :first-child {
    text-align: center;
  }
}

@media (min-width: 960px) {
  .testimonials {
    padding-bottom: 18.1rem;
  }
}

@media (max-width: 1199px) {
  .testimonials__container {
    padding: 0 2rem;
    padding-top: 0.9rem;
    background-position: 4.8rem 0;
    background-size: 1.5rem;
  }
  .testimonial_card {
    max-width: 28rem;
    padding: 2.4rem 2rem 2.1rem;
  }
}
@media (min-width: 1200px) {
  .testimonials__container {
    padding: 0;
    padding-top: 3.6rem;
    max-width: 118rem;
    margin: 0 auto;
  }
  .testimonial_card {
    max-width: 36rem;
    padding: 4rem 2.6rem 2.6rem;
  }
}

@media (max-width: 959px) {
  .testimonial_card:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}
@media (min-width: 880px) {
  .testimonial_card:not(:last-child) {
    margin-right: 4rem;
  }
}

@media (max-width: 959px) {
  .profile {
    margin-top: 1.7rem;
  }
}
@media (min-width: 880px) {
  .profile {
    margin-top: 2.4rem;
  }
}

@media (max-width: 799px) {
  .call-to-action__container {
    padding: 4rem 2.8rem 3.7rem;
  }
}
@media (min-width: 800px) {
  .call-to-action__container {
    padding: 4.2rem 7.7rem 4.1rem;
  }
}

@media (max-width: 739px) {
  .input-group {
    margin-top: 3.2rem;
    flex-direction: column;
  }
}
@media (min-width: 740px) {
  .input-group {
    margin-top: 3.8rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .email-input {
    max-width: 48rem;
    width: 100%;
    margin-right: 3rem;
  }
  .button--cta {
    width: 40%;
    max-width: 20rem;
  }
}

@media (max-width: 739px) {
  .email-input {
    font-size: 1rem;
    line-height: 1.4;
    padding: 1.7rem;
  }
}
@media (min-width: 740px) {
  .email-input {
    line-height: 1.333;
    font-size: 1.2rem;
    padding: 1.6rem 3.8rem;
  }
}

@media (max-width: 739px) {
  .email-input {
    margin-bottom: 2.4rem;
  }
}

@media (max-width: 639px) {
  .footer-container {
    padding: 7.4rem 2.8rem 0;
  }
}
@media (min-width: 640px) and (max-width: 1305px) {
  .footer-container {
    padding: 8rem 2.8rem 0;
  }
}

@media (min-width: 1306px) {
  .footer-container {
    padding: 8rem 0 0;
    max-width: 124rem;
    margin: 0 auto;
  }
}

@media (max-width: 639px) {
  .footer-content {
    margin-top: 4rem;
    display: flex;
    flex-flow: column nowrap;
  }
  .footer-nav:last-of-type {
    margin-bottom: 8rem;
  }
}
@media (min-width: 640px) {
  .footer-content {
    margin-top: 4rem;
    display: flex;
    flex-flow: row wrap;
  }
}

@media (min-width: 517px) and (max-width: 828px) {
  .address {
    margin-bottom: 4rem;
  }
}
