@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700&display=swap");

.hide {
  display: none;
}

/* Type Specs */
.nav-text {
  letter-spacing: 0px;
  font-family: $ff-raleway;
  font-weight: $weight-regular;
  text-decoration: none;
}

.intro-heading {
  font-family: $ff-raleway;
  font-weight: $weight-bold;
  letter-spacing: 0px;
  line-height: 1.5;
}

.intro-body {
  font-family: $ff-opensans;
  font-weight: $weight-regular;
  letter-spacing: 0px;
  line-height: 1.5;
}

.feature-heading {
  font-family: $ff-raleway;
  font-weight: $weight-bold;
  letter-spacing: 0px;
}

.feature-body {
  font-family: $ff-opensans;
  font-weight: $weight-regular;
  letter-spacing: 0px;
  font-size: 1.4rem;
  line-height: 1.5;
}

.prod-heading {
  font-weight: $weight-bold;
  font-family: $ff-raleway;
  letter-spacing: 0px;
}

.prod-body {
  font-weight: $weight-regular;
  font-family: $ff-opensans;
  letter-spacing: 0px;
  line-height: 1.5;
}

.prod-link {
  font-weight: $weight-regular;
  font-family: $ff-opensans;
  letter-spacing: 0px;
  line-height: 1.5;
  color: $cyan;
}

.test-body {
  font-weight: $weight-regular;
  font-family: $ff-opensans;
}

.profile-name {
  font-family: $ff-opensans;
  font-weight: $weight-bold;
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

.profile-title {
  font-weight: $weight-regular;
  font-family: $ff-opensans;
  font-size: 0.8rem;
  line-height: 1.25;
  letter-spacing: 0.57px;
}

.cta-heading {
  font-family: $ff-raleway;
  font-weight: $weight-bold;
  letter-spacing: 0px;
}

.cta-body,
.footer-address,
.footer-contact,
.footer-nav-item {
  font-family: $ff-opensans;
  font-weight: $weight-regular;
  letter-spacing: 0px;
}

.cta-body,
.footer-address,
.footer-contact {
  line-height: 1.5;
}

.cta-body {
  font-size: 1.4rem;
}

.footer-address {
  font-size: 1.6rem;
}

.footer-contact {
  font-size: 1.4rem;
}

.footer-nav-item {
  line-height: 1.375;
  font-size: 1.6rem;
}

/* Buttons */
.button {
  background: $cyan-blue;
  border: none;
  color: $white;
  font-weight: $weight-bold;
  font-family: $ff-raleway;
  transition: $transition filter, $transition box-shadow, $transition transform;
}
.button:hover {
  filter: brightness(1.1);
  transform: translateY(-2px);
  box-shadow: 0 1rem 1rem rgba(99, 225, 217, 0.15);
}

.button--intro {
  margin-top: 3.2rem;
}

.button:hover {
  cursor: pointer;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__items {
  display: flex;
}

@media (max-width: 639px) {
  .menu__item:not(:last-child) {
    margin-right: 2.4rem;
  }
}
@media (min-width: 640px) and (max-width: 959px) {
  .menu__item:not(:last-child) {
    margin-right: 3rem;
  }
}
@media (min-width: 960px) {
  .menu__item:not(:last-child) {
    margin-right: 5.8rem;
  }
}

/* Main */
/* Intro section */
.intro {
  text-align: center;
}

.intro__image {
  width: 100%;
}
.intro__image__container {
  width: 81.167%;
  margin: 0 auto;
  max-width: 72rem;
}

/* Features section */
.features {
  background-color: $main-bg;
  text-align: center;
}

/* prod section */
.prod {
  background-color: $main-bg;
}

.prod__image__container {
  display: flex;
  margin: 0 auto;
  max-width: 61.4rem;
  align-items: center;
  justify-content: center;
}
.prod__image {
  width: 100%;
}

.prod__copy > :not(:last-child) {
  margin-bottom: 1.6rem;
}

.prod-link {
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid $cyan;
  padding-bottom: 0.6rem;
  transition: $transition padding-left;
}
.prod-link::after {
  content: "";
  background-image: url(../../images/icon-arrow.svg);
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.7rem;
}
.prod-link:hover {
  padding-left: 1.2rem;
}

/* Testimonials section */
.testimonials {
  background-color: $main-bg;
  padding-bottom: 16rem;
}

.testimonials__container {
  background-image: url(../../images/bg-quotes.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.testimonial_card {
  background-color: $testimonials-bg;
  border-radius: $br-sm;
  transition: $transition transform, $transition box-shadow;
}
.testimonial_card:hover {
  transform: rotate(2deg);
  box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.15);
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile__avatar {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.8rem;
}
.profile__avatar__image {
  width: 100%;
  border-radius: 50%;
}

.profile-name {
  margin-bottom: 0.4rem;
}

/* Call to action section */
.call-to-action {
  background-color: $main-bg;
  position: relative;
  min-height: 35.3rem;
  text-align: center;
}
.call-to-action::after {
  content: " ";
  background-color: $footer-bg;
  width: 100%;
  position: absolute;
  height: 47.32%;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.call-to-action__container {
  border-radius: $br-cta;
  background-color: $light-bg;
  margin: 0 auto;
  box-shadow: 0.5rem 0.5rem 0.8rem rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 89.6%;
  max-width: 86.3rem;
}

.cta-heading {
  margin-bottom: 1.6rem;
}

/* input group */
.input-group {
  display: flex;
}

.email-input {
  border: none;
  outline: none;
  font-family: $ff-opensans;
  font-weight: $weight-regular;
  border-radius: $br-reg;
}

.email-input::placeholder {
  color: #c0c0c0;
}
.email-input::-webkit-input-placeholder {
  color: #c0c0c0;
}
.email-input::-moz-placeholder {
  color: #c0c0c0;
}
.email-input:-ms-input-placeholder {
  color: #c0c0c0;
}
.email-input:-moz-placeholder {
  color: #c0c0c0;
}

.button--cta {
  font-size: 1.4rem;
  font-family: $ff-raleway;
  font-weight: $weight-bold;
  line-height: 1.143;
  padding: 1.6rem 0;
  border-radius: $br-reg;
}

/* Footer */
.footer {
  background-color: $footer-bg;
}

.footer-nav:first-of-type {
  margin-right: 8rem;
}
.footer-nav:last-of-type {
  margin-right: 11.4rem;
}

.footer-nav > :not(:last-child) {
  margin-bottom: 1.6rem;
}

.address,
.phone,
.email {
  display: flex;
}

.address {
  max-width: 38rem;
  margin-right: 8rem;
}

.phone,
.address {
  margin-bottom: 1.6rem;
}

.phone,
.email {
  align-items: center;
}

.contact {
  margin-bottom: 8rem;
  max-width: 17.1rem;
  margin-right: 14.6rem;
}

.footer-nav {
  margin-bottom: 4.8rem;
}

.vector-icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1.8rem;
  display: flex;
  align-items: center;
}
.vector-icon svg {
  width: 100%;
}

.socials {
  display: flex;
  justify-content: center;
}

.social {
  border: 1px solid $white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.7rem;
  height: 2.7rem;
  transition: $transition border-color;
}

.social:hover {
  cursor: pointer;
  border-color: $cyan;
}
svg > path {
  transition: $transition fill;
}
.social:hover > svg > path {
  fill: $cyan;
}

.social:not(:last-child) {
  margin-right: 1rem;
}

.social__icon:first-child {
  height: 1.2rem;
}
.social__icon {
  width: 1.2rem;
}
