// colors
$white: hsl(0, 0%, 100%);
$main-bg: hsl(218, 28%, 13%);
$light-bg: hsl(217, 28%, 15%);
$footer-bg: hsl(216, 53%, 9%);
$testimonials-bg: hsl(219, 30%, 18%);
$cyan: hsl(176, 68%, 64%);
$yan-blue: linear-gradient(
  159deg,
  hsl(176, 68%, 64%) 0%,
  hsl(198, 60%, 50%) 65%
);

// fonts
$ff-raleway: "Raleway", sans-serif;
$ff-opensans: "Open Sans", sans-serif;

// weights
$weight-regular: 400;
$weight-bold: 700;

// design
$transition: 300ms ease-in-out;
$br-sm: 0.393rem;
$br-cta: 0.9rem;
$br-reg: 2.4rem;
$br-lg: 2.8rem;
